REACT_APP_API_URL=https://writer-be.bipage.net
REACT_APP_API_BASE_URL=https://writer-be.bipage.net
REACT_APP_CLERK_PUBLISHABLE_KEY=your_react_app_clerk_publishable_key_here
REACT_APP_CLERK_JWT_TEMPLATE=your_react_app_clerk_jwt_template_here
REACT_APP_PRICING_MODE=alpha
REACT_APP_APP_MODE=demo
REACT_APP_DEMO_MODE=true
